* {
  margin: 0;
  padding: 0;
  color: #fff;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font: 400 18px/1.5 "Barlow", "sans-serif", "Arial";
}

a {
  text-decoration: none;
}

button {
  border: none;
  font: inherit;
  background: none;
}
