.wrapper {
  @media (max-width: 767px) {
    padding-inline: 24px;
  }
  @media (max-width: 991px) {
    text-align: center;
  }
  @media (min-width: 992px) {
    padding-inline: 11.5vw;
  }
}

.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.space-between-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

%h {
  color: $base-color;
  font-weight: 400;
  white-space: nowrap;
  font-family: "Bellefair";
  text-transform: uppercase;
}
.h3 {
  @extend %h;
  @media (max-width: 767px) {
    font-size: 24px;
    line-height: 29px;
  }
  @media (min-width: 768px) {
    font-size: 40px;
    line-height: 48px;
  }
  @media (min-width: 1200px) {
    font-size: 56px;
    line-height: 68px;
  }
}
.h5 {
  @extend %h;
  font-family: "Barlow Condensed";
  @media (max-width: 767px) {
    font-size: 16px;
    letter-spacing: 2.7px;
  }
  @media (min-width: 768px) {
    font-size: 20px;
    letter-spacing: 3.375px;
  }
  @media (min-width: 1200px) {
    font-size: 28px;
    letter-spacing: 4.725px;
  }
}

.txt {
  font-weight: 400;
  font-family: "Barlow";
  color: $secondary-color;
  @media (max-width: 767px) {
    max-width: 300px;
    font-size: 15px;
    line-height: 25px;
  }
  @media (min-width: 768px) {
    max-width: 410px;
    font-size: 16px;
    line-height: 28px;
  }
  @media (max-width: 991px) {
    margin-inline: auto;
  }
  @media (min-width: 992px) {
    font-size: 18px;
    line-height: 32px;
  }
}
