.header {
  @media (max-width: 767px) {
    margin-bottom: 42px;
  }
  @media (min-width: 768px) {
    & > :only-child {
      text-align: left;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    margin-bottom: 70px;
    padding-left: 38.5px;
  }

  .num {
    opacity: 0.25;
    margin-right: 8px;
  }
}
