nav {
  position: relative;
  height: fit-content;
  @media (max-width: 767px) {
    padding: 24px;
  }
  @media (min-width: 768px) {
    padding-left: 41px;
    margin-bottom: 30px;
  }
  @media (min-width: 1200px) {
    margin-top: 40px;
    padding-left: 55px;
    margin-bottom: 116px;
  }

  .logo {
    display: block;
    @media (max-width: 767px) {
      width: 40px;
      height: 40px;
    }
    @media (min-width: 768px) {
      width: 48px;
      height: 48px;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }

  .line {
    top: 48px;
    left: 167px;
    height: 1px;
    width: 473px;
    position: absolute;
    opacity: 0.2514852;
    background-color: white;
    @media (max-width: 1199px) {
      display: none;
    }
  }

  .links-toggler {
    z-index: 2;
    cursor: pointer;
    @media (min-width: 768px) {
      display: none;
    }
    img {
      pointer-events: none;
    }
  }

  .links {
    backdrop-filter: blur(30px);
    background-color: rgba(white, 0.04);
    @media (max-width: 767px) {
      top: 0;
      right: 0;
      z-index: 1;
      width: 254px;
      height: 100%;
      display: none;
      row-gap: 32px;
      padding-top: 118px;
      padding-left: 32px;
      position: absolute;
      align-items: start;
      will-change: display;
      flex-direction: column;
      justify-content: start;
      li {
        width: 100%;
      }
      &.show {
        display: flex;
      }
    }
    @media (min-width: 768px) {
      width: 450px;
      column-gap: 20px;
    }
    @media (min-width: 1200px) {
      width: 830px;
      column-gap: 50px;
    }
  }

  .link {
    // Layout
    display: block;
    @media (min-width: 768px) {
      height: 96px;
      line-height: 96px;
      width: fit-content;
    }

    // Typography
    outline: none;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    will-change: border;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    font-family: "Barlow Condensed";
    @media (min-width: 768px) and (max-width: 1119px) {
      font-size: 14px;
    }

    // Interactive
    &:hover,
    &:focus-visible {
      $cl: rgba(white, 0.50214785);
      @media (max-width: 767px) {
        border-right: 3px solid $cl;
      }
      @media (min-width: 768px) {
        border-bottom: 3px solid $cl;
      }
    }

    // Active state
    &.active {
      @media (max-width: 767px) {
        border-right: 3px solid white;
      }
      @media (min-width: 768px) {
        border-bottom: 3px solid white;
      }
    }

    // Num
    .num {
      @media (min-width: 768px) and (max-width: 1199px) {
        display: none;
      }
      @media (min-width: 1200px) {
        left: 0;
        position: absolute;
      }
    }
    // Handle link text for num
    @media (min-width: 1200px) {
      position: relative;
      width: calc(100% + 24px);
      * {
        display: block;
        text-align: right;
      }
    }
  }
}
