#crew {
  .crew-wrapper {
    display: grid;
    justify-items: center;
    @media (max-width: 767px) {
      padding-bottom: 24px;
    }
    @media (min-width: 992px) {
      column-gap: 30px;
      align-items: end;
      grid-template-rows: 500px;
      grid-template-columns: max-content 1fr;
    }
    @media (min-width: 1100px) {
      grid-template-rows: minmax(70vh, 650px);
    }
  }
  .content {
    @media (min-width: 768px) {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  // [1] Tab Pics
  .tabpics {
    width: 100%;
    align-self: end;
    @media (max-width: 767px) {
      width: 90%;
      border-bottom: 1px solid $separator-color;
    }
    @media (min-width: 768px) {
      order: 1;
    }

    .tabpic {
      &:not([hidden]) {
        display: block;
      }
      @media (max-width: 767px) {
        height: 223px;
      }
      @media (min-width: 768px) and (max-width: 991px) {
        height: 532px;
      }
      @media (max-width: 991px) {
        img {
          height: 100%;
        }
      }
      @media (min-width: 992px) {
        img {
          display: block;
          max-width: 100%;
          margin-left: auto;
        }
      }
    }
  }

  // [2] Tab List
  .tablist {
    display: flex;
    column-gap: 16px;
    justify-content: center;
    @media (max-width: 767px) {
      margin-block: 32px;
    }
    @media (min-width: 768px) {
      margin-block: 12px 40px;
    }
    @media (min-width: 992px) {
      column-gap: 24px;
      margin-block: 8vh 0;
      padding-bottom: 40px;
      justify-content: flex-start;
    }

    .tab {
      width: 10px;
      height: 10px;
      cursor: pointer;
      border-radius: 50%;
      opacity: 0.17436291;
      will-change: opacity;
      background-color: $base-color;
      &:is(:hover, :focus-visible),
      &[aria-selected="true"] {
        opacity: 1;
      }
      @media (min-width: 992px) {
        width: 15px;
        height: 15px;
      }
    }
  }

  // [3] Tab Panels
  .tabpanel {
    .title {
      display: grid;
      @media (max-width: 991px) {
        row-gap: 7px;
        margin-bottom: 15px;
      }
      @media (min-width: 992px) {
        row-gap: 13px;
        margin-bottom: 23px;
      }
    }

    .role {
      @extend %h;
      opacity: 0.5;
      @media (max-width: 767px) {
        font-size: 16px;
        line-height: 19px;
      }
      @media (min-width: 768px) {
        font-size: 24px;
        line-height: 24px;
      }
      @media (min-width: 1200px) {
        font-size: 32px;
        line-height: 39px;
      }
    }
  }
}
