@import "../helpers/all";
@import "../layouts/nav";
@include bg("home");

#home {
  .home-wrapper {
    row-gap: 15vh;
    display: grid;

    @media (max-width: 767px) {
      row-gap: 10vh;
      margin-top: 24px;
      @media (max-height: 620px) {
        padding-bottom: 48px;
      }
    }
    @media (min-width: 768px) {
      margin-top: 66px;
      @media (max-height: 900px) {
        padding-bottom: 90px;
      }
    }
    @media (max-width: 991px) {
      justify-items: center;
    }
    @media (min-width: 992px) {
      row-gap: 0;
      grid-template-columns: repeat(2, 1fr);
      @media (max-height: 550px) {
        padding-bottom: 90px;
      }
      .explore {
        align-self: end;
        justify-self: center;
      }
    }
  }

  .intro-text {
    @media (max-width: 767px) {
      max-width: 300px;
    }
    @media (min-width: 768px) {
      width: min-content;
    }

    .space {
      display: block;
      margin-block: 15px;
    }

    & > :last-child {
      @media (min-width: 768px) and (max-width: 991px) {
        max-width: 400px;
        margin-inline: auto;
      }
      @media (min-width: 992px) {
        max-width: 350px;
      }
    }
  }

  .explore {
    position: relative;
    border-radius: 50%;
    color: $primary-color;
    background-color: $base-color;
    font: 400 32px/1 "Bellefair";
    @media (max-width: 767px) {
      width: 150px;
      height: 150px;
      font-size: 20px;
      letter-spacing: 1.25px;
    }
    @media (min-width: 768px) {
      width: 242px;
      height: 242px;
      letter-spacing: 2px;
    }
    @media (min-width: 1440px) {
      width: 274px;
      height: 274px;
    }

    &::before {
      width: 0;
      height: 0;
      z-index: -1;
      content: "";
      position: absolute;
      opacity: 0.103627525;
      border-radius: inherit;
      background-color: inherit;
      transition-duration: 0.5s;
      will-change: width, height;
      transition-property: width, height;
      transition-timing-function: ease-in-out;
    }
    &:hover::before {
      width: 150%;
      height: 150%;
    }
  }
}
