@import "../helpers/all";
@import "../layouts/nav";
@include bg("home");

#home {
  .home-wrapper {
    row-gap: 15vh;
    display: grid;
    justify-items: center;
    @media (max-width: 767px) {
      row-gap: 10vh;
      margin-top: 24px;
      @media (max-height: 650px) {
        padding-bottom: 60px;
      }
    }
    @media (min-width: 768px) {
      margin-top: 66px;
      @media (max-height: 900px) {
        padding-bottom: 90px;
      }
    }
    @media (min-width: 992px) {
      row-gap: 0;
      align-items: end;
      justify-content: space-between;
      grid-template-columns: repeat(2, max-content);
      @media (max-height: 550px) {
        padding-bottom: 90px;
      }
    }
  }

  // [1] Intro text
  .intro-text {
    .space {
      display: block;
      @extend %h;
      @media (max-width: 991px) {
        font-size: 80px;
        line-height: 100px;
        margin-block: 16px;
      }
      @media (min-width: 768px) {
        font-size: 120px;
        line-height: 120px;
        margin-block: 24px;
      }
      @media (min-width: 992px) {
        margin-block: 14px;
      }
      @media (min-width: 1200px) {
        font-size: 150px;
        line-height: 182px;
      }
    }

    .txt {
      @media (min-width: 992px) {
        max-width: 400px;
      }
    }
  }

  // [2] Explore
  .explore {
    position: relative;
    border-radius: 50%;
    color: $primary-color;
    background-color: $base-color;
    font: 400 32px/1 "Bellefair";
    @media (max-width: 767px) {
      width: 150px;
      height: 150px;
      font-size: 20px;
      letter-spacing: 1.25px;
    }
    @media (min-width: 768px) {
      width: 242px;
      height: 242px;
      letter-spacing: 2px;
    }
    @media (min-width: 1440px) {
      width: 274px;
      height: 274px;
    }

    &::before {
      width: 0;
      height: 0;
      z-index: -1;
      content: "";
      position: absolute;
      opacity: 0.103627525;
      border-radius: inherit;
      background-color: inherit;
      transition-duration: 0.5s;
      will-change: width, height;
      transition-property: width, height;
      transition-timing-function: ease-in-out;
    }
    &:hover::before {
      width: 150%;
      height: 150%;
    }
  }
}
