include ../layouts/head
include ../layouts/nav
mixin pageTemplate(pageName, pageTitle)
  - const i = Object.keys(tabsData).indexOf(pageName) + 1;

  div(data-page=pageName)
    +header(i, pageTitle)
    div(role="region", id=pageName)
      div(class=`${pageName}-wrapper | wrapper`)
        +tabPics(pageName)
        .content
          +tabList(pageName)
          block
