include ../components/pageTemplate
include ../components/tabParts

+pageTemplate("Crew", "Meet your crew")
  each panel, i in tabsData["crew"]
    +tabPanel(panel.name, i!==0)
      h2.title
        span.role=panel.role
        span.h3=panel.name
      p.txt=panel.bio
