include ../layouts/head
include ../layouts/nav
include ../layouts/header

doctype html
html(lang="en")
  +head("Crew")
  body
    +nav("crew")

    main
      +header(2, "Meet your crew")
      .container
        .tabs

    script
      include ../../js/dist/nav.js
    script
      include ../../js/dist/tabs.js