include ../layouts/head
include ../layouts/nav

doctype html
html(lang="en")
  +head("Crew")
  body
    +nav("crew")

    main
      .container
        h1.h5 #[span(aria-hidden='true') 02] Meet your crew
        .tabs

    script
      include ../../js/dist/nav.js
    script
      include ../../js/dist/tabs.js