include ../components/pageTemplate
include ../components/tabParts

+pageTemplate("Destination", "Pick your destination")
  each panel, i in tabsData["destination"]
    +tabPanel(panel.name, i!==0)
      h2.title=panel.name
      p.txt=panel.description
      hr.line
      .info
        .slot #[span.sub-h2 AVG. Distance] #[span.sub-h1=panel.distance]
        .slot #[span.sub-h2 EST. travel time] #[span.sub-h1=panel.travel]
