include ../layouts/head
include ../layouts/nav

doctype html
html(lang="en")
  +head("Destination")
  body.destination
    +nav("destination")

    main
      .container
        h1.h5 #[span 01] Pick your destination
        .tabs

    script
      include ../../js/dist/nav.js
    script
      include ../../js/dist/tabs.js