include ../layouts/head
include ../layouts/nav
include ../layouts/header

doctype html
html(lang="en")
  +head("Destination")
  body
    +nav("destination")

    main
      +header(1, "Pick your destination")
      .container
        .tabs

    script
      include ../../js/dist/nav.js
    script
      include ../../js/dist/tabs.js