include ../components/pageTemplate
include ../components/tabParts

+pageTemplate("Technology", "Space Launch 101")
  each panel, i in tabsData["technology"]
    +tabPanel(panel.name, i!==0)
      h2.title
        span.terminology The Terminology…
        span.h3=panel.name
      p.txt=panel.description
