include ../layouts/head
include ../layouts/nav
include ../layouts/header

doctype html
html(lang="en")
  +head('Technology')
  body
    +nav('technology')

    main
      +header(3, "Space Launch 101")
      .tabs

    script
      include ../../js/dist/nav.js
    script
      include ../../js/dist/tabs.js