nav.space-between-flex
  a.logo(href="/dist" aria-label='Space Tourism logo')
    img(src="assets/images/logo.svg", alt="")

  .line

  button.links-toggler(aria-label="Open menu" onclick="navToggler(event)")
    img(src="assets/images/nav/icon-hamburger.svg", alt="")

  ul.links.center-flex
    each item, i in ["home", "destination", "crew", "technology"]
      li
        a(href='', class=`${i===0 ? 'active' : ''}`) #[span(aria-hidden='true') 0#{i}] #{item}